<%- include("partials/header"); -%>

<div class="container">
<h5>Song Name: <%=name%></h5>
<h5>Song Artist: <%=artist%></h5>
<br>


<!-- <form action="/song" method="POST">
    <button class="submit">LIKE</button>
</form>
<button class="submit">LIKE</button> -->

<a class="btn btn-light btn-lg logout-btn" href="/logout" role="button">Log Out</a>
</div>




<%- include("partials/footer"); -%>